/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Alba Maloff
   Date: 2/18/2017  

   Filename: mw_layout.css
   Supporting Files: none

*/

/* Bike the Mountains Tour Style Sheet */
   
/* Body Styles */

body {
	font-family: Tahoma, Geneva, sans-serif;
}

/* Heading styles */

#articleheader{
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 7px;
	text-align: center;
}

/* Right Section Header Styles*/

#rightsection h1{
	font-size: 22px;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
}

#rightsection h2{
	font-size: 18px;
	text-align: right;
	font-weight: normal;
}

#rightsection p{
	color: gray;
	font-size: 14px;
	text-align: justify;
}

/* Footer Styles */

footer address {
	font-size: 16px;
	font-style: normal;
	text-align: center;	
}


/* Navigation list Styles */

nav ul{
	background-color: rgb(125, 120, 89);
	line-height: 3em;
	list-style-type:none;
}

nav ul li a[href] {
	color: white;
	color: rgba(255,255,255,.5);
	text-decoration: none;
}

nav ul li:hover {
	background-color:rgb(131,121,36);
	list-style-image: url(wheelmarker.png);
}

nav ul li a[href]:hover {
	color: yellow;
	color: rgba(255,255,255,1);
}

/* Section Styles */

#leftsection p{
	font-size:22px;
}
	
#leftsection > p:first-of-type:first-line{
	text-transform:uppercase;
}

blockquote {
	background-color: rgb(131,121,36);
	color:white;
	font-size:16px;
	font-family: Comic Sans MS, Times, cursive;
}

blockquote p:before, p:after{
	content:'"';
}
	

